node-linker=hoisted
legacy-peer-deps=true
# Force npm to run node-gyp with python3
python=/usr/bin/python3
# Set platform to linux and architecture to x64 for SWC binaries
platform=linux
arch=x64
# Ensure SWC binaries are downloaded
@next/swc-linux-x64-gnu=optional
@next/swc-linux-x64-musl=optional
